body{
	padding-bottom: 33px;
}
.table > tbody > tr > td{
	vertical-align: middle;
}
.navbar{
	color:#fff;
	border-radius: 0;
	margin: 0 0 1px 0;
}
#table_id_example_processing{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}
/*按钮样式*/
.my_btn{
	background-color: #55575f;
	color: #fff;
}
/*tables样式*/
.my_tables_tr{
	color: #ddd;
	background: #55575f;
}
.my_tables_tr_group{
	background: #ddd;
	color: #55575f;
}

/* 登陆样式*/
.my_login{
	box-sizing: border-box;
}
.my_login > .my_login_content{
	border: 1px solid #e4e4e4;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px #888888;
}
/* 图片排版 */
#table_images>tbody .my_td_img{
	display: block;
	color: #fff;
	overflow: hidden;
	height:145px;
	background: #3e3e3e;
}
#table_images>tbody .my_td_titel{
	/* display: block; */
	background: rgba(23,22,20,.5);
	color: #fff;
	height: 20px;
	transition: height 2s;
	-webkit-transition: height 2s; /* Safari */
	position: absolute;
    bottom: 10px;
    width:calc(100% - 20px);
}
#table_images>tbody>tr{
	position: relative;
	box-sizing:border-box;
	box-shadow: 5px 5px 5px #888888;
	display: inline-block;
	width:20%;
	padding: 10px;
	vertical-align: bottom;
}
#table_images>tbody tr:hover > .my_td_titel{
	height: calc(100% - 20px);
}
