<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>用户列表</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>用户列表</h1>
		<br />
		<div class="width:80%">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>UserName</th>
						<th>UserPassword</th>
						<th>Email</th>
						<th>注册时间</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list:${list}">
						<td th:text="${list.id}">1pp</td>
						<td th:text="${list.userName}">1pp</td>
						<td th:text="${list.userPassword}">1pp</td>
						<td th:text="${list.email}">1pp</td>
						<td th:text="${list.regTime}">1pp</td>
						<td><a th:data-id="${list.id}"
							onclick="cz(this.getAttribute('data-id'))" data-toggle="modal"
							data-target="#myModal">Edit</a></td>
						<td><a th:href="@{/delete(id=${list.id})}"
							onclick="return confirm('确认删除该用户吗？')">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-lable">
				<a href="/toAdd" class="btn btn-info">添加</a>
			</div>
		</div>
		<script type="text/javascript">
			function cz(id) {
				/* alert(id); */
				/* console.log(id); */
				$.ajax({
					url : "/toUserUpdate",
					data : "id=" + id,
					type : "post",
					dataType : "json",
					success : function(data) {
						console.log(data.id);
						$("#id").val(data.id);
						$("#userName").val(data.userName);
						$("#userPassword").val(data.userPassword);
						$("#email").val(data.email);
					}
				});
			}
		</script>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">编辑用户</h4>
					</div>
					<form class="form-horizontal" th:action="@{/userUpdate}">
						<div class="modal-body">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">用户名：</label>
								<div class="col-sm-10">
									<input type="hidden" class="form-control" id="id"
										name="id" value="">
									<input type="text" class="form-control" id="userName"
										name="userName" value="">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">密码：</label>
								<div class="col-sm-10">
									<input type="password" readonly="readonly" class="form-control"
										id="userPassword" name="userPassword" value="">
								</div>
							</div>

							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">邮箱：</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email"
										name="email" value="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10">
								<div th:if="${errorMsg!=null}" class="alert alert-danger"
									role="alert" th:text="${errorMsg}"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary">提交更改</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>