<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>用户列表</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/layer/theme/default/layer.css}" />
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css"
	href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8"
	src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/myJs.js}"></script>
</head>
<body>
	<div th:replace="navbar :: html"></div>
	<div class="container-fluid">
		<h4 class="text-primary">用户列表</h4>
		<div>
			<a href="#" class="btn btn-info" id="saveUser">添加用户</a>
		</div>
		<!--第二步：添加如下 HTML 代码-->
		<table id="table_id_example" class="display">
			<thead>
				<tr>
					<th>ID</th>
					<th>账号</th>
					<th>密码</th>
					<th>邮箱</th>
					<th>注册时间</th>
					<th>编辑</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>ID</th>
					<th>账号</th>
					<th>密码</th>
					<th>邮箱</th>
					<th>注册时间</th>
					<th>编辑</th>
				</tr>
			</tfoot>
			<tbody>
				<!-- <tr th:each="list:${list}">
					<td><img style="width: 50px;" class="img-rounded center-block"
						th:src="${list.srcImg}"></td>
					<td th:text="${list.userName}">1pp</td>
					<td th:text="${list.userPassword}">1pp</td>
					<td th:text="${list.email}">1pp</td>
					<td th:text="${#dates.format(list.regTime, 'yyyy-MM-dd HH:mm:ss')}">1pp</td>
					<td><a class="btn btn-primary center-block"
						th:data-id="${list.id}" onclick="cz(this.getAttribute('data-id'))"
						data-toggle="modal" data-target="#myModal">编辑</a></td>
					<td><a class="btn btn-danger center-block"
						th:href="@{/user/delete(id=${list.id})}"
						onclick="return confirm('确认删除该用户吗？')">删除</a></td>
				</tr> -->
			</tbody>
		</table>
		<!-- <ul class="pagination">
			<li><a th:if="${list.number} gt 0"
				th:href="@{/user/list(page=${list.number-1})}">&laquo;</a></li>

			<li><a th:if="${list.number-1} ge 0"
				th:href="@{/user/list(page=${list.number-1})}"
				th:text="${list.number}">2</a></li>
			<li class="active"><a th:href="@{/list(page=${list.number})}"
				th:text="${list.number+1}">2222</a></li>
			<li><a th:if="${list.number+1} <= ${list.totalPages-1}"
				th:href="@{/user/list(page=${list.number+1})}"
				th:text="${list.number+2}">2</a></li>

			<li><a th:text="'当前页数：'+${list.number+1}"></a></li>
			<li><a th:text="'总页数'+${list.totalPages}"></a></li>
			<li><a th:if="${list.number} lt ${list.totalPages-1}"
				th:href="@{/user/list(page=${list.number+1})}">&raquo;</a></li>
		</ul> -->
		<!-- 模态框（Modal） -->
		<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">编辑用户</h4>
					</div>
					<form class="form-horizontal" th:action="@{/user/userUpdate}">
						<div class="modal-body">
							<div class="form-group">
								<label for="userName" class="col-sm-2 control-label">用户名：</label>
								<div class="col-sm-10">
									<input type="hidden" class="form-control" id="id" name="id"
										value=""> <input type="text" class="form-control"
										id="userName" name="userName" value="">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">密码：</label>
								<div class="col-sm-10">
									<input type="password" readonly="readonly" class="form-control"
										id="userPassword" name="userPassword" value="">
								</div>
							</div>

							<div class="form-group">
								<label for="email" class="col-sm-2 control-label">邮箱：</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email"
										name="email" value="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10">
								<div th:if="${errorMsg!=null}" class="alert alert-danger"
									role="alert" th:text="${errorMsg}"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary">提交更改</button>
						</div>
					</form>
				</div>
			</div>
		</div> -->
	</div>
</body>
<script type="text/javascript">
$(document).ready(function() {
	$('#table_id_example').removeClass('dataTable display');
	$('#table_id_example').DataTable({
		"pagingType" : "full_numbers",
		"language" : {
			"decimal" : "",
			"emptyTable" : "No data available in table",
			"info" : "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
			"infoEmpty" : "当前显示第 0 至 0 项，共 0 项",
			"infoFiltered" : "(由 _MAX_ 项结果过滤)",
			"infoPostFix" : "",
			"thousands" : ",",
			"lengthMenu" : "每页 _MENU_ 项",
			"loadingRecords" : "载入中...",
			"processing" : "处理中...",
			"search" : "搜索:",
			"zeroRecords" : "没有匹配结果",
			"paginate" : {
				"first" : "首页",
				"previous" : "上页",
				"next" : "下页",
				"last" : "末页"
			}
		},
		paging : true,//paging属性必须为true才能实现默认初始值得功能
		bSort: true,
		bAutoWidth : true,//自动宽度
		ordering : true, //排序
		//bPaginate : true, //翻页功能
		bProcessing : true, //DataTables载入数据时，是否显示‘进度’提示  
		serverSide : true, //是否启动服务器端数据导入 
		searching : false, //是否禁用原生搜索(false为禁用,true为使用)
		renderer: "Bootstrap", //渲染样式：Bootstrap和jquery-ui
		//"stripeClasses": ["odd", "even"], //为奇偶行加上样式，兼容不支持CSS伪类的场合
		lengthMenu : [ 10, 20, 50, 70, 100 ],
		columns : [ {
			data : 'id'
		}, {
			data : 'userName'
		}, {
			data : 'userPassword'
		}, {
			data : 'email'
		}, {
			data : 'regTime'
		}, {
			data : 'srcImg'
		} ],
		ajax: function (data, callback, settings) {
			//封装请求参数
			var param = {};
			param.size = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
			//param.start = data.start;//开始的记录序号
			param.page = (data.start / data.length);//当前页码
			//param.search = data.search.value;//搜索条件
			//if (data.order.length > 0) {
			//param.order = data.columns[data.order[0].column].data;
			//param.dir = data.order[0].dir;
			//}
			console.log(param);
			//ajax请求数据
			$.ajax({
			type: "GET",
			url: "/user/listInfo",
			cache: false, //禁用缓存
			data: param, //传入组装的参数
			dataType: "json",
			success: function (result) {
			//console.log(result);
			//setTimeout仅为测试延迟效果
			setTimeout(function () {
			//封装返回数据
			var returnData = {};
			returnData.draw = result.draw;//这里直接自行返回了draw计数器,应该由后台返回
			returnData.recordsTotal = result.totalElements;//返回数据全部记录
			returnData.recordsFiltered = result.totalElements;//后台不实现过滤功能，每次查询均视作全部结果
			returnData.data = result.content;//返回的数据列表
			console.log(returnData);
			//调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
			//此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
			callback(returnData);
			}, 200);
			}
			});
		}
			
			

	});
});
</script>
</html>