<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<head th:replace="common/common_pub :: common_header('')">
</head>
<body>
<div th:replace="common/common_pub :: navbar_"></div>
	<div class="row" style="width: 100%; margin: 0;">
		<div th:replace="common/common_pub :: left_nav"></div>
		<div class="col-md-10" style="padding: 0; overflow: hidden;">
			<div style="margin: 0" class="panel panel-default">
	<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">编辑TICKET</h4>
				</div>
				<form id="edit_workForm" th:action="@{/back/work/Update}" class="form-horizontal" role="form">
					<div class="modal-body">
						<div class="form-group">
							<label for="ticketNumber_edit" class="col-sm-1 control-label">Ticket</label>
							<div class="col-sm-11">
								<input type="hidden" th:value="${work.id}" id="work_id"
									name="id"> <input type="number" class="form-control"
									id="ticketNumber_edit" name="ticketNumber"
									placeholder="请输入Ticket号" th:value="${work.ticketNumber}">
							</div>
						</div>
						<div class="form-group">
							<label for="ticketTitel_edit" class="col-sm-1 control-label">TK-标题</label>
							<div class="col-sm-11">
								<input id="ticketTitel_edit" th:value="${work.ticketTitel}"
									class="form-control" name="ticketTitel" placeholder="请输入标题">
							</div>
						</div>
						<div class="form-group">

							<label for="description_edit" class="col-sm-1 control-label">TK-描述</label>
							<div class="col-sm-11">
								<textarea style="height: 300px" id="description_edit"
									class="form-control" name="description"
									placeholder="Ticket描述。。。" th:text="${work.description}"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="version_edit" class="col-sm-1 control-label">TK-版本</label>
							<div class="col-sm-5">
								<select id="version_edit" name="version" data-style="btn-info"
									class="selectpicker form-control" multiple title="选择版本(可多选)"
									data-live-search="true">
								</select>
							</div>
							<label for="patch_edit" class="col-sm-1 control-label">发包版本</label>
							<div class="col-sm-5">
								<select id="patch_edit" name="patch" multiple
									class="selectpicker form-control" title="选择版本(可多选)"
									data-style="btn-info" data-live-search="true">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="isExample_edit" class="col-sm-1 control-label">用例上传</label>
							<div class="col-sm-5">
								<select id="isExample_edit" name="isExample"
									class="selectpicker form-control" title="是否有测试用例">
									<option value="0">无</option>
									<option value="1">有</option>
								</select>
							</div>
							<label class="col-sm-1 control-label">用例列表</label>
							<div class="col-sm-5"></div>
						</div>
						<div class="form-group">
							<label for="sqlurl_font" class="col-sm-1 control-label">脚本上传</label>
							<div class="col-sm-5">
								<input class="file-loading" id="sqlurl_edit" name="sqlurl_font"
									type="file" multiple="multiple">
								<p class="help-block">支持sql、txt格式</p>
							</div>
							<label class="col-sm-1 control-label">脚本列表</label>
							<div class="col-sm-5 downList"></div>
						</div>
						<div class="form-group">
							<label for="work_edit_dateTime" class="col-sm-1 control-label">创建时间</label>
							<div class="col-sm-5">
								<input readonly="readonly" type="text" class="form-control"
									th:value="${work.dateTime}" id="work_edit_dateTime"
									name="dateTime">
							</div>
							<label for="work_edit_updateTime" class="col-sm-1 control-label">修改时间</label>
							<div class="col-sm-5">
								<input readonly="readonly" type="text" class="form-control"
									th:value="${work.updateTime}" id="work_edit_updateTime"
									name="dateTime">
							</div>
						</div>
						<div class="form-group">
							<label for="isClose_edit" class="col-sm-1 control-label">是否关闭</label>
							<div class="col-sm-5">
								<select id="isClose_edit" name="isClose"
									class="selectpicker form-control" title="请选择...">
									<option value="2">自提</option>
									<option value="1">开</option>
									<option value="0">关</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a th:href="@{/back/work/toWork}" class="btn btn-default">返回</a>
<!-- 						<button onclick="javascript:history.back(-1);" class="btn btn-default">返回</button> -->
						<button type="submit" class="btn btn-primary work_edit_btn">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script th:inline="javascript" type="text/javascript">
	var work = [[${work}]];
	/* alert(JSON.stringify(work)) */
	work_select_ajax('#version_edit,#patch_edit',work);
</script>
</html>