<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<head th:replace="common/common_pub :: common_header('')">
</head>
<body>

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="add" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="add_form" th:action="@{/back/work/add}"
					class="form-horizontal" role="form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">添加TICKET</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="ticketNumber" class="col-sm-2 control-label">Ticket</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ticketNumber"
									name="ticketNumber" placeholder="请输入Ticket号">
							</div>
						</div>
						<div class="form-group">
							<label for="description" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10">
								<textarea id="description" class="form-control"
									name="description" placeholder="Ticket描述。。。"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="version" class="col-sm-2 control-label">Ticket版本</label>
							<div class="col-sm-10">
								<select id="version" name="version"
									class="selectpicker form-control" multiple title="选择版本(可多选)"
									data-live-search="true">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="patch" class="col-sm-2 control-label">发包</label>
							<div class="col-sm-10">
								<select id="patch" name="patch"
									class="selectpicker form-control patch" multiple title="选择版本(可多选)"
									data-live-search="true">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="isExample" class="col-sm-2 control-label">测试用例</label>
							<div class="col-sm-10">
								<select id="isExample" name="isExample"
									class="selectpicker form-control" title="是否有测试用例">
									<option value="0">无</option>
									<option value="1">有</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="isClose" class="col-sm-2 control-label">是否关闭</label>
							<div class="col-sm-10">
								<select id="isClose" name="isClose"
									class="selectpicker form-control" title="请选择...">
									<!-- <option value="-1" class="hidden"></option> -->
									<option value="0">未关闭</option>
									<option value="1">关闭</option>
								</select>
							</div>
						</div>
						<!-- <div class="form-group">
							<label for="dateTime" class="col-sm-2 control-label">日期</label>
							<div class="col-sm-10">
								<input type="date" id="dateTime" name="dateTime"
									class="form-control">
							</div>
						</div> -->

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="submit" class="btn btn-primary">提交</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	<!-- 修改模态框 -->
	<div class="modal fade" role="dialog" id="work_edit_model">
		<div class="modal-dialog" role="document">
			<div class="modal-content"></div>
		</div>
	</div>
	<div th:replace="common/common_pub :: navbar_"></div>
	<div class="row" style="width: 100%;margin: 0;">
		<div th:replace="common/common_pub :: left_nav"></div>
		<div class="col-md-10" style=" padding: 0;overflow: hidden;">
			<div style = "margin:0" class="panel panel-default">
				<div class="panel-body">
					<div class="col-xs-12 col-sm-6 col-md-3">
	                    <div class="form-group">
	                        <label for="CustomerName">TicketNumber</label>
	                        <input id="find_ticketNumber" class="form-control" name="ticketNumber" type="number" value="">
	                    </div>
			        </div>
					<div class="col-xs-12 col-sm-6 col-md-3">
	                     <div class="form-group">
							<label for="find_isClose" class="col-sm-2 control-label">IsClose</label>
							<div class="form-group">
								<select id="find_isClose" name="isClose"
									class="selectpicker form-control" title="请选择...">
									<option value="0">未关闭</option>
									<option value="1">关闭</option>
								</select>
							</div>
						</div>
			        </div>
				</div>
				<div class="panel-body">
					<!-- 按钮触发模态框 -->
					<button class="btn" data-toggle="modal" data-target="#add"
						style="margin: 3px 0 0 15px;">添加TICKET</button>
					<div class="panel">
						<table style="width: 100%;" id="my_work" class="table table-hover table-striped">
							<thead>
								<tr class="my_tables_tr">
									<th class="text-center">id</th>
									<th class="text-center">TicketNumber</th>
									<th class="text-center">TicketDescription</th>
									<th class="text-center my_tables_tr_group">E-patch</th>
									<th class="text-center">Example</th>
									<th class="text-center">Version</th>
									<th class="text-center">CreateTime</th>
									<th class="text-center">IsClosed</th>
									<th class="text-center">Edit</th>
								</tr>
							</thead>
							<tfoot>
								<tr class="my_tables_tr">
									<th class="text-center" colspan="2">TicketNumber</th>
									<th class="text-center">TicketDescription</th>
									<th class="text-center my_tables_tr_group">E-patch</th>
									<th class="text-center">Example</th>
									<th class="text-center">Version</th>
									<th class="text-center">CreateTime</th>
									<th class="text-center">IsClosed</th>
									<th class="text-center">Edit</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>