<!DOCTYPE html>
<html>
<head>
<head th:replace="common/common_pub :: common_header('')">
</head>
<body>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="add" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">添加TICKET</h4>
				</div>
				<form id="add_form" th:action="@{/back/work/add}"
					class="form-horizontal" role="form">
					<div class="modal-body">
						<div class="form-group">
							<label for="ticketNumber" class="col-sm-2 control-label">Ticket</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="ticketNumber"
									name="ticketNumber" placeholder="请输入Ticket号">
							</div>
						</div>
						<div class="form-group">
							<label for="ticketTitel" class="col-sm-2 control-label">标题</label>
							<div class="col-sm-10">
								<input id="ticketTitel" class="form-control" name="ticketTitel" placeholder="请输入标题">
							</div>
						</div>
						<div class="form-group">
							<label for="description" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10">
								<textarea style="height:100px" id="description" class="form-control"
									name="description" placeholder="Ticket描述。。。"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="version" class="col-sm-2 control-label">Ticket版本</label>
							<div class="col-sm-10">
								<select id="version" name="version"
									class="selectpicker form-control" multiple title="选择版本(可多选)"
									data-live-search="true">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="patch" class="col-sm-2 control-label">发包</label>
							<div class="col-sm-10">
								<select id="patch" name="patch"
									class="selectpicker form-control patch" multiple
									title="选择版本(可多选)" data-live-search="true">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="isExample" class="col-sm-2 control-label">测试用例</label>
							<div class="col-sm-10">
								<select id="isExample" name="isExample"
									class="selectpicker form-control" title="是否有测试用例">
									<option value="0">无</option>
									<option value="1">有</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="isSql" class="col-sm-2 control-label">脚本</label>
							<div class="col-sm-10">
								<select id="isSql" name="isSql"
									class="selectpicker form-control" title="请选择...">
									<option value="0">无</option>
									<option value="1">有</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="isClose" class="col-sm-2 control-label">是否关闭</label>
							<div class="col-sm-10">
								<select id="isClose" name="isClose"
									class="selectpicker form-control" title="请选择...">
									<!-- <option value="-1" class="hidden"></option> -->
									<option value="0">关</option>
									<option value="1">开</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="submit" class="btn btn-primary">提交</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	<!-- 修改模态框 -->
	<div class="modal fade" role="dialog" id="work_edit_model">
		<div class="modal-dialog" role="document">
			<div class="modal-content"></div>
		</div>
	</div>
	<div th:replace="common/common_pub :: navbar_"></div>
	<div class="row" style="width: 100%; margin: 0;">
		<div th:replace="common/common_pub :: left_nav"></div>
		<div class="col-md-10" style="padding: 0; overflow: hidden;">
			<div style="margin: 0" class="panel panel-default">
				<div class="panel-body">
					<!-- 按钮触发模态框 -->
					<div class="btn-group" style="margin: 5px;">
						<button class="btn btn-default" data-toggle="modal"
							data-target="#add">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<button class="btn btn-default" id="work_del_m">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button class="btn btn-default" id="work_edit_m">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button class="btn btn-default" id="work_down">
							<span class="glyphicon glyphicon-download-alt"></span>
						</button>
					</div>
					<div class="panel" style="margin: 0px;">
						<table id="my_work" cellspacing="0" width="100%"
							class="table table-hover table-striped display">
							<thead>
								<tr class="my_tables_tr">
									<th class="text-center"><input name="select_all"
										id="select_all" type="checkbox"></th>
									<th class="text-center">Ticket</th>
									<th class="text-center">标题</th>
									<th class="text-center">发包版本</th>
									<th class="text-center">Ticket版本</th>
									<th class="text-center">创建时间</th>
									<th class="text-center">用例</th>
									<th class="text-center">脚本</th>
									<th class="text-center">关闭</th>
									<th class="text-center">编辑</th>
								</tr>
							</thead>
							<tbody></tbody>
							<tfoot>
								<tr class="my_tables_tr">
									<th class="text-center"></th>
									<th class="text-center">Ticket</th>
									<th class="text-center">标题</th>
									<th class="text-center">发包版本</th>
									<th class="text-center">Ticket版本</th>
									<th class="text-center">创建时间</th>
									<th class="text-center">用例</th>
									<th class="text-center">脚本</th>
									<th class="text-center">关闭</th>
									<th class="text-center">编辑</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>